.block-1 {
    background-color: rgb(245, 245, 144);
    height: 800px;
    margin: 0 auto;
    position: relative;
}

.block-2 {
    background-color: rgb(112, 235, 112);
    width: 60px;
    height: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border: solid 1px black;
}

@media screen and (max-width:800px) {
    .block-2 {
        position: absolute;
        top: 20px;
        bottom: 20px;
        height: auto;
    }
}

@media screen and (max-width:600px) {
    .block-2 {
        position: absolute;
        top: auto;
        bottom: 20px;
        left: 20px;
        right: 20px;
        width: auto;
        height: 50px;
    }
}